
/********TYPOGRAPHY********/
@font-face {
font-family: Graphik-Semibold;
src: url("Graphik-Semibold.otf") format("opentype");
}

@font-face {
font-family: Graphik-Medium;
src: url("Graphik-Medium.otf") format("opentype");
}

@font-face {
font-family: Graphik-Regular;
src: url("Graphik-Regular.otf") format("opentype");
}

h1 {
	font-family: Graphik-Semibold;
	font-size: 48pt;
	line-height: 48pt;
	padding: 24pt 0 0 0;
	margin: 24pt;
}

h2 {
	font-family: Graphik-Regular;
	font-size: 24pt;
	margin: 12pt 18pt 12pt 18pt;
}

h6 {
	font-family: Graphik-Semibold;
	font-size: 36pt;
	margin: 0 0 0 0;
}

p {
	font-family: Graphik-Regular;
	font-size: 18pt;
	margin-left: 24pt;
}

p a {
	color: inherit;
}

p a:hover {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 10px) and (max-width: 800px) {
	p {
        font-size: 12pt;
    }
	h2 {
		font-size: 18pt;
	}
}

/********BIG THINGS STYLING********/

body {
	background-color: fff;
	margin: 0 0 0 0;
	cursor: url(bigMouse.png), auto;

}

body a {
	cursor: url(bigPointer.png), auto;
}

::-webkit-scrollbar {
		width: 8px;
		background-color: transparent;
	}
	
::-webkit-scrollbar-thumb {
		background-color: black;
	}
	
::-webkit-scrollbar-track {
		background-color: transparent;
	}
	
::selection {
			color: white;
			background: black;
	}

img {
	width:100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	/* need a way to do max height for portrait photos */
}

/********BUILDING BLOCKS********/

#header {
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.headerImage {
	position: absolute;
	width:100%;
	bottom: 0;
	z-index: 1;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	mix-blend-mode: multiply;
	transform: translate(-50%, 0);
	left: 50%;
}

.logoType {
	position: absolute;
	width: 60%;
	top: 10%;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-50%, 0);
	left: 50%;
}

#intro {
	position: relative;
	width: 100%;
	z-index: 3;
	overflow: hidden;
}

.introImage {
	position: relative;
	height: 90%;
	width: auto;
	overflow: hidden;
}

.introText {
	display: block;
	position: absolute;
	color: fff;
	padding: 15px;
	padding-right: 40px;
	width: 40%;
	max-width: 400px;
	min-width: 150px;
	top: 60px;
    right: 60px;
	-webkit-box-shadow: 5px 6px 31px 2px rgba(0,0,0,0.45);
	-moz-box-shadow: 5px 6px 31px 2px rgba(0,0,0,0.45);
	box-shadow: 5px 6px 31px 2px rgba(0,0,0,0.45);
}

.introText img {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 0 0 0;
}

#timeline {
	position: relative;
	width: 100%;
	z-index: 3;
	overflow: hidden;
}

#timeline img {
	position: relative;
	width: 100%;
	height: auto;
}

.timelineText {
	position: relative;
	margin: 20px 0 0px 24px;
	z-index: 10;
	color: white;
}

.sidebar {
	position: absolute;
	height: 100%;
	width: 70px;
	right: 0;
	z-index: 10;
}

.sidebarType {
	position: absolute;
	color: fff;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: auto;
	transform: rotate(90deg) translate(-45px, 0pt);
	transform-origin: left bottom 0;
}

.sidebarIcon {
	position: relative;
	height: 50px;
	width: 50px;
	margin: 10px 10px 0px 7px;
	z-index: 11;
}

/********SECTIONS********/

.section1 {
	display: block;
	min-height: 400px;
	position: relative;
	z-index: 3;
	overflow: hidden;
	width: 100%;
}

.section1Type {
	position: relative;
	margin-right: 70px;
	padding: 60px;
	z-index: 6;
}

.section1Image {
	position: relative;
	height: 90%;
	width: auto;
	left: 0;
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 4;
}

.section2 {
	position: relative;
	height: 90%;
	z-index: 3;
	overflow: hidden;
}

.section2Type {
	position: absolute;
	left: 40px;
	top: 40px;
	padding: 24px;
	padding-right: 36px;
	color: fff;
	max-width: 400px;
	min-width: 150px;
	width: 50%;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
}

.section2Type img {
	width: 100%;
	height: auto;
	position: relative;
	margin: 0 0 0 0;
}

.section2Image {
	position: absolute;
	height: 100%;
	width: auto;
	right: 0;
	overflow: hidden;
}

.section3 {
	position: relative;
	height: 90%;
	z-index: 3;
	overflow: hidden;
}

.section3Type {
	position: absolute;
	bottom: 10%;
	right: 0;
	margin-right: 70px;
	padding: 40px;
	background-color: fff;
	max-width: 400px;
	min-width: 150px;
	width: 42%;
	z-index: 8;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
}

.section3Image1 {
	position: absolute;
	left: 40px;
	bottom: 40px;
	height: 70%;
	max-height: 800px;
	width: auto;
	overflow: hidden;
	z-index: 5;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
}

.section3Image1:hover {
	z-index: 9;
}

.section3Image2 {
	position: absolute;
	left: 175px;
	top: 40px;
	height: 70%;
	max-height: 800px;
	width: auto;
	overflow: hidden;
	z-index: 6;
	-webkit-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
	box-shadow: 3px 6px 20px 0px rgba(0,0,0,0.55);
}

.section3Image2:hover {
	z-index: 9;
}

.section4 {
	display: block;
	min-height: 60%;
	position: relative;
	z-index: 3;
	overflow: hidden;
	width: 100%;
}

.section4Image {
	position: relative;
	height: auto;
	padding-right:70px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 4;
}