@font-face {
  font-family: "Graphik-Regular";
  src: url("type/Graphik-Regular.woff") format("woff");
}

@font-face {
  font-family: "Graphik-Medium";
  src: url("type/Graphik-Medium.otf") format("woff");
}

@font-face {
  font-family: "Graphik-Semibold";
  src: url("type/Graphik-Semibold.otf") format("woff");
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  height: 100%;
  padding: 0;
  border: solid 2px #fff;
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.unkn {
  left: 30px;
  top: 25px;
  position: absolute;
  z-index: 1;
  width: 250px;
}

.menu {
  font-family: "Graphik-Regular", sans-serif;
  letter-spacing: -2px;
  font-size: 30px;
  right: 30px;
  top: 25px;
  position: absolute;
  z-index: 1;
  width: 280px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
}

.menu li {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}

.menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.slider-wrapper-left {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  left: 0;
  position: absolute;
  z-index: 0;
}

.slider-wrapper-right {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  right: 0;
  position: absolute;
  z-index: 0;
}

.slideshow {
  width: 100%;
  height: 100%;
}

.slideshow2 {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  margin: 0;
  outline: 0;
}

.buttons.prev-next-button {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  z-index: 100;
  outline: 0;
  padding: 0;
}

.buttons.prev-next-button.next {
  right: 0;
  cursor: url(img/next.png), e-resize;
}

.buttons.prev-next-button.prev {
  left: 0;
  cursor: url(img/prev.png), w-resize;
}

.prev-next-button {
  position: absolute;
  border: none;
  background: #fff;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

/* Slides */
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bg-img {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.bg-img-1 {
  background-image: url(img/BC_Code-Net.jpg);
}

.bg-img-2 {
  background-image: url(img/cantera_redcard.jpg);
}

.bg-img-4 {
  background-image: url(img/PrintedMatters_Detail_LH.jpg);
}
.bg-img-3 {
  background-image: url(img/Web_Soilco.jpg);
}

.bg-img-5 {
  background-image: url(img/Web_Epi.jpg);
}

.bg-img-6 {
  background-image: url(img/OFC_ZoomBC.jpg);
}

.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ff0000;
  overflow: scroll;
  transition: 0.5s;
  color: #000;
}

.description {
  font-size: 25px;
  font-family: Graphik-Regular, sans-serif;
  padding: 30px 30px 0 25px;
  height: auto;
  position: relative;
  min-height: 100%;
}

.description p {
  margin: 0;
  margin-bottom: 40px;
}
.title {
  font-family: Graphik-Medium, sans-serif;
}

.container-overlay {
  min-height: 100%;
  padding: 0 0 100px;
  position: relative;
}

.addresses {
  font-size: 14px;
  font-family: Graphik-Regular, sans-serif;
  bottom: 0;
  height: 100px;
  position: absolute;
  padding-left: 30px;
}

.address {
  float: left;
  padding-right: 50px;
  display: inline-block;
}

.overlay .close {
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 45px;
  font-family: Graphik-Regular, sans-serif;
  text-decoration: none;
  z-index: 2;
}

@media only screen and (orientation: portrait) {
  .slider-wrapper-left {
    width: 100%;
    height: 50%;
    top: 0;
  }

  .slider-wrapper-right {
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .slideshow {
    width: 100%;
    height: 100%;
  }

  .slideshow2 {
    width: 100%;
    height: 100%;
  }

  .container-overlay {
    padding: 0 0 100px;
  }

  .addresses {
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .unkn {
    width: 180px;
  }

  .menu {
    width: 200px;
  }
}

@media only screen and (max-width: 420px) {
  .unkn {
    width: 120px;
  }

  .menu {
    font-size: 24px;
    width: 140px;
  }

  .description {
    font-size: 18px;
  }

  .description p {
    margin: 0;
    margin-bottom: 40px;
  }

  .container-overlay {
    padding: 0 0 200px;
  }

  .addresses {
    height: 200px;
  }

  .address {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .menu {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .unkn {
    width: 100px;
  }

  .menu {
    font-size: 18px;
    width: 120px;
  }

  .menu li {
    margin-left: 20px;
  }
}
